:root 
{
    --denim: #316ABC;
    --toolbox: #646FB7;
    --hawkesblue: #D8DDFF;
    --nightblue: #0A033F;
    --bouqet: #A57C96;
    --lily: #CCADB8;
    --jordyblue: #8CB7FF;
}

.search-container 
{
    margin: 10px auto; 
    text-align: center;
}

#searchBar 
{
    padding: 15px 25px; 
    font-size: 18px; 
    border: 2px solid var(--denim); 
    border-radius: 30px; 
    width: 400px; 
    height: 20px;
    transition: all 0.3s ease;
    outline: none; 
    background-color: var(--hawkesblue); 
    color: #6c75a6; 
    position: relative;
}

#searchBar::placeholder 
{
    color: #9ba2cc; 
    font-style: italic;
    opacity: 0.6;  
}

#searchBar:focus 
{
    border-color: var(--bouqet);
}

#searchBar:hover 
{
    border-color: var(--toolbox);
    box-shadow: 2px 2px 10px #cdcae5;
}

.characters-container
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
    padding: 0 10px;
}

.character-card 
{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.character-card:hover 
{
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.character-image 
{
    float: left;
    width: 150px;
    height: 150px;
    border-radius: 8px;
    margin-bottom: 15px;
    margin-right: 20px;
    border: 4px solid var(--jordyblue);
    background-color: #dae8ff;
}

.character-card h2 
{
    display: flex;
    margin-top: -1px;
    font-size: 2.0rem;
    margin-bottom: 10px;
    color: var(--nightblue);
}

.character-card p 
{
    font-size: 1rem;
    margin: 5px 0;
    color: var(--jordyblue);
}

.character-card strong 
{
    font-weight: bold;
    color: var(--denim);
}
