:root 
{
    --denim: #316ABC;
    --toolbox: #646FB7;
    --hawkesblue: #D8DDFF;
    --nightblue: #0A033F;
    --bouqet: #A57C96;
    --lily: #CCADB8;
    --jordyblue: #8CB7FF;
}

.search-container 
{
    margin: 10px auto; 
    text-align: center;
}

#searchBar 
{
    padding: 15px 25px; 
    font-size: 18px; 
    border: 2px solid var(--denim); 
    border-radius: 30px; 
    width: 400px; 
    transition: all 0.3s ease;
    outline: none; 
    background-color: var(--hawkesblue); 
    color: #6c75a6; 
    position: relative;
}

#searchBar::placeholder 
{
    color: #9ba2cc; 
    font-style: italic;
    opacity: 0.6;  
}

#searchBar:focus 
{
    border-color: var(--bouqet);
}

#searchBar:hover 
{
    border-color: var(--toolbox);
    box-shadow: 2px 2px 10px #cdcae5;
}