:root 
{
    --denim: #316ABC;
    --toolbox: #646FB7;
    --hawkesblue: #D8DDFF;
    --nightblue: #0A033F;
    --bouqet: #A57C96;
    --lily: #CCADB8;
    --jordyblue: #8CB7FF;
}
  
.filter-section
{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    background-color: var(--hawkesblue);
    padding: 15px;
}

.filter-section select 
{
    font-size: 1rem;
    margin: 0 10px;
    background-color: #eaf2ff;
    border: 1px solid #9eb1d1;
    color:var(--nightblue);
    border-radius: 5px;
    margin-left: -40px;
}

.filter-section label 
{
    font-size: 1.1rem;
    margin-right: 10px;
    color:var(--nightblue);
}

.characters-container
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
    padding: 0 10px;
}

.characters-container a 
{
    text-decoration: none;
}

.character-card 
{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.character-card:hover 
{
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.character-image 
{
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 8px;
    margin-bottom: 15px;
    border: 4px solid var(--jordyblue);
    background-color: #dae8ff;
}

.character-card h2 
{
    margin-top: -10px;
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--nightblue);
}

.character-card p 
{
    font-size: 1rem;
    margin: 5px 0;
    color: var(--jordyblue);
}

.character-card strong 
{
    font-weight: bold;
    color: var(--denim);
}
