:root {
    --denim: #316ABC;
    --toolbox: #646FB7;
    --hawkesblue: #D8DDFF;
    --nightblue: #0A033F;
    --bouqet: #A57C96;
    --lily: #CCADB8;
    --jordyblue: #8CB7FF;
  }

.signup-box {
    background-color: var(--nightblue);
    padding: 50px 60px;
    border-radius: 30px;
    width: 500px;
    max-width: 90%;
    color: var(--denim);
    margin: 80px auto;
    margin-top: 30px;
}

.signup-box h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
    letter-spacing: 2px;
}

.signup-box label {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
}

.signup-box input {
    width: 100%;
    padding: 15px;
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    background-color: var(--hawkesblue);
    font-size: 16px;
}

.signup-box button {
    background-color: var(--hawkesblue);
    border: none;
    padding: 12px 30px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.signup-box button:hover {
    background-color: var(--toolbox);
}

.signin-text {
    margin-top: 40px;
    text-align: center;
    font-size: 18px;
}

.signin-text a {
    color: var(--hawkesblue);
    text-decoration: underline;
}

/*------------------------------------------------------------------*/

.login-box {
    background-color: var(--nightblue);
    padding: 50px 60px;
    border-radius: 30px;
    width: 500px;
    max-width: 90%;
    color: var(--denim);
    margin: 80px auto; 
    margin-top: 30px;
}

.login-box h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
    letter-spacing: 2px;
}

.login-box label {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
}

.login-box input {
    width: 100%;
    padding: 15px;
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    background-color: var(--hawkesblue);
    font-size: 16px;
}

.login-box button {
    background-color: var(--hawkesblue);
    border: none;
    padding: 12px 30px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.login-box button:hover {
    background-color: var(--toolbox);
}

.signup-text {
    margin-top: 40px;
    text-align: center;
    font-size: 18px;
}

.signup-text a {
    color: var(--hawkesblue);
    text-decoration: underline;
}