body 
{
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url('https://wallpapercave.com/wp/wp10842093.jpg');
}

#uppermargin
{
    width: 100%;
    height: 150px;
    top: 0;
    bottom: 0;
    background-color: #0A033F;
}

h1 
{
    font-size: 90px;
    color: #cddffd;
    text-align: center;
    margin-top: -7%;
    margin-left: -5%;
}



